
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}  .hod-info {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .hod-info img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px;
    }

img{
    height:400px;
    width:100%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    padding: 50px 20px;
}

.photo {
    position: relative;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.title {
    width: 70%;
    margin: 0 auto;
}

.title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.title p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
